# Ignore virtual environment
myvirtualenv/

# Ignore Django migrations
**/migrations/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore database files
*.sqlite3

# Ignore Node.js dependencies
frontend/node_modules/
frontend/dist/

